#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  /* max-width: 1280px; */
  width: 100%;
  margin-inline: auto;
  gap: 1.25rem;
}

aside {
  margin: 1.25rem 0 1.25rem 1.25rem ;
  

  & .aside-container {
    position: relative;
    max-width: 25rem;
    margin-left: auto;
  }

  & .background-img {
    position: absolute;

    & img {
      width: 25rem;
      border-radius: .75rem;
    }
  }

  & .overlay-container {
    position: relative;
    padding: 2rem;

    & img {
      width: 3rem;
    }

    & h1 {
      font: var(--logo);
      color: var(--pink);
      padding-block: 1rem .75rem;
    }

    & p {
      color: var(--text-heading);
    }
  }
}

main {
  overflow: auto;
  background-color: var(--shape-body);
  margin: 1.25rem 1.25rem 1.25rem 0;
  border-radius: .75rem;
  max-width: 51.25rem;

  & label {
    color: var(--text-body);
  }

  & h1 {
    padding-bottom: 3rem;
  }

  & .main-wrapper{
    width: 35rem;

  }

  & .main-container {
    max-width: 51.25rem;
    padding: 5rem 8.125rem;
    margin-inline: auto;
  }

  & .about-event {
    border: none;

  }

  & fieldset {
    max-width: 35rem;
  }

  & legend {
    display: flex;
    align-items: center;
    font: var(--heading-sm);
    padding-bottom: 1.5rem;
  }

  & legend img {
    width: 36px;
    padding-right: .75rem;
  }

  & .customization {
    border: none;
  }

  & .event-theme {
    & .radio-wrapper {
      padding-block: 1rem 1.75rem;
    }
  }

  & .other-options {
    & .switch {
      width: 11rem;
      margin-right: 1rem;

      & label {
        margin-bottom: 1rem;
      }
    }

    & .droped {
      & label {
        margin-bottom: 1rem;
      }

      & span {
        padding-bottom: 1rem;
      }
    }
  }

  & .contact-details {
    border: none;
    margin-bottom: 3rem;

    & #phone-email {
      margin-top: 1rem;
    }
  }

  & #split-bar {
    border: 1px solid var(--input-stroke);
  }
  
  & .footer {
    margin-block: 2.5rem;
    border: none;
  }
}