.cover-photo {

  & .file-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
  }

  & .file-wrapper label{
    display: flex;
    border-radius: .5rem;
    background: var(--shape-button);
    position: relative;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 2.5rem;
    gap: .5rem;
   
    & .color-svg path {
      fill: var(--brand-light);
      }
    }

    & label input {
      position: absolute;
      width: 7.5rem;
      height: 2.5rem;
      opacity: 0;
      inset: 0;
      
    }
}
